#main {
  height: 600px;
  width: 100%;
  display: flex;
}

#main.table {
  display: block;
}

#main.quiz {
  height: 800px;
}

#info {
  text-align: center;
  margin-top: 100px;
}

ol {
  width: 600px;
  margin: auto;
  font-size: 20px;
  text-align: left;
}

#start, #inner {
  width: 220px;
  height: 120px;
  background-color: #f5e5b3;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
}

#start div {
  background-color: black;
  color: white;
  padding: 8px 15px;
}

#inner {
  width: 400px;
  height: 400px;
  word-spacing: 2px;
  line-height: 1.5;
  font-size: 24px;
}

#test {
  width: 500px;
  height: 500px;
  padding: 50px;
  background-color: #f5e5b3;
  color: black;
  font-size: 16px;
  margin: auto;
}

#end {
  width: 300px;
  height: 300px;
  padding: 50px;
  background-color: #f5e5b3;
  color: black;
  font-size: 16px;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a#clickHere {
  background-color: #c56112;
  color: white;
  padding: 5px 10px;
}

form {
  font-size: 22px;
  line-height: 1.1;
  padding-top: 20px;
}

form:first-child {
  padding-top: 0;
}

input {
  font-size: 20px;
}

.next {
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 8px 15px;
  margin-top: 10px;
}

#gift {
  font-size: 22px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 8px 15px;
  width: 183px;
  margin-top: 10px;
}

#gift a {
  color: white;
}

.hide {
  display: none;
}

h2 {
  font-size: 28px;
}
